body{
  background: linear-gradient(#143674f5,rgb(243, 240, 240));
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
  font-size: 13px;
  text-align: center;
  }
  